
*.v2
.vs/FIFA23_OCM/v17/.suo
.vs/FIFA23_OCM/v17/.suo
*.1
.vs/FIFA23_OCM/v17/.suo
.vs/FIFA23_OCM/v17/.suo
FIFA23_OCM/obj/Release/net7.0/FIFA23_OCM.GlobalUsings.g.cs
*.pdb
*.dll
FIFA23_OCM/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
*.cache
*.dll
*.vsidx
*.cs
*.editorconfig
*.pdb
*.dll
*.json
*.sqlite
*.v2
*.vsidx
FIFA23_OCM/obj/Debug/net7.0/FIFA23_OCM.pdb
FIFA23_OCM/obj/Debug/net7.0/FIFA23_OCM.dll
FIFA23_OCM/bin/Debug/net7.0/FIFA23_OCM.pdb
FIFA23_OCM/bin/Debug/net7.0/FIFA23_OCM.dll
.vs/FIFA23_OCM_MVC/v17/.wsuo
.vs/FIFA23_OCM_MVC/FileContentIndex/read.lock
.vs/FIFA23_OCM/v17/.suo
.vs/FIFA23_OCM/FileContentIndex/3d55273b-b726-4b18-a80f-6a22af40dad5.vsidx
.vs/FIFA23_OCM/DesignTimeBuild/.dtbcache.v2
FIFA23_OCM/obj/Debug/net7.0/FIFA23_OCM.pdb
FIFA23_OCM/obj/Debug/net7.0/FIFA23_OCM.dll
FIFA23_OCM/bin/Debug/net7.0/FIFA23_OCM.pdb
FIFA23_OCM/bin/Debug/net7.0/FIFA23_OCM.dll
.vs/FIFA23_OCM/v17/.suo
.vs/FIFA23_OCM/FileContentIndex/3d55273b-b726-4b18-a80f-6a22af40dad5.vsidx
.vs/FIFA23_OCM/DesignTimeBuild/.dtbcache.v2
FIFA23_OCM/bin/Debug/net7.0/FIFA23_OCM.pdb
*.cache
.vs/FIFA23_OCM/v17/.suo
