@using System.Linq
@model FIFA23_OCM.ViewModels.TeamBudgetViewModel;

<style>
   *{
       box-sizing: border-box;
   }
   
   .roster-row{
       margin-left: -5px;
       margin-right: -5px;
   }

   .roster-column{
       float: left;
       width: 50%;
       padding: 5px;
   }

   .roster-row::after{
       content: "";
       clear: both;
       display: table;
   }

   table{
       border-collapse: collapse;
       border-spacing: 0;
       width: 100%;
       border: 1px solid #ddd;
   }

   th, td{
       text-align: center;
       padding: 16px;
   }

   tr:nth-child(even){
       background-color: #f2f2f2;
   }

    @@media screen and (max-width: 600px) {
        .roster-column {
            width: 100%;
        }
    }
</style>

<div class="team-info">
    <select id="team-selector" class="form-select form-select-lg mb-3" style="width: auto; display: inline-block;">
        @foreach (var teamNames in Model.TeamBudgets)
        {
            <option value="@teamNames.Key">@teamNames.Key</option>
        }
    </select>

    <h1 style="display: inline-block; float: right;">Team Budget: <span id="budget" class="badge bg-secondary fixed-width">Loading...</span></h1>
</div>

<div class="roster-row">
    <div class="roster-column">
        <h1>Team Roster</h1>
        <table id="roster-table" class="table table-hover">
            <thead>
                <tr>
                    <th>PlayerID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>SoFIFA Link</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="roster-column">
        <h1 style="width: auto; display: inline-block;">Transfer List</h1>
        <button id="addPlayerBtn" type="button" style="width: auto; display: inline-block; float: right; font-size: 22px; font-weight: bold" class="btn btn-primary btn-lg">+</button>
        <table id="transfer-list-table" class="table table-hover">
            <thead>
                <tr>
                    <th>PlayerID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Starting Price</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>


<script>
    
    function getBudget(teamName){
        $.ajax({
            url: '/Home/GetTeamBudget',
            type: 'GET',
            dataType: 'json',
            data: {teamName : teamName},
            success: function (data) {
                $('#budget').text('£' + data.budget.toLocaleString());
            },
            error: function () {
                $('#budget').text('Error');
            }
        });
    }

    function getRoster(teamName){
        $.ajax({
            url: '/Home/GetRoster',
            type: 'GET',
            dataType: 'json',
            data: { teamName: teamName },
            success: function (data) {
                var $tbody = $('#roster-table tbody');
                $tbody.empty();

                if (data.hasOwnProperty('error')) {
                    var $tr = $('<tr>');
                    $tr.append($('<td colspan="3">').text(data.error));
                    $tbody.append($tr);
                }
                else {
                    data.forEach(function (roster) {
                        var $tr = $('<tr>');
                        $tr.append($('<td>').text(roster.playerID));
                        $tr.append($('<td>').text(roster.firstName));
                        $tr.append($('<td>').text(roster.lastName));
                        var $link = $('<a>').attr('href', roster.soFIFAURL).text(roster.soFIFAURL);
                        $tr.append($('<td>').html($link.attr('target', '_blank')));
                        $tr.append($('<td>').text('£' + roster.cost.toLocaleString()));
                        $tbody.append($tr);
                    });
                }
            }
        });
    }

    $(document).ready(function () {

        getBudget($('#team-selector').val());
        getRoster($('#team-selector').val());

        $('#team-selector').change(function () {
            var teamName = $(this).val();
            getBudget(teamName);
            getRoster(teamName);
        });
    });

</script>
