@using System.Linq
@model FIFA23_OCM.ViewModels.TeamBudgetViewModel

<style>
    .fixed-width-table {
        table-layout: fixed;
        width: 100%;
    }

    .fixed-width-table th {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .col-playerid {
        width: 20%;
    }

    .col-firstname {
        width: 20%;
    }

    .col-lastname {
        width: 20%;
    }

    .col-sofifa {
        width: 20%;
    }
    .col-cost {
        width: 20%;
    }
</style>

<div class="team-info">
    <select id="team-selector" class="form-select form-select-lg mb-3" style="width: auto; display: inline-block;">
        @foreach (var teamNames in Model.TeamBudgets)
        {
            <option value="@teamNames.Key">@teamNames.Key</option>
        }
    </select>

    <h1 style="display: inline-block; float: right;">Team Budget: <span id="budget" class="badge bg-secondary fixed-width">Loading...</span></h1>
</div>

<div class="roster-row">
    <h1>Team Roster</h1>
    <table id="roster-table" class="table table-hover fixed-width-table">
        <thead>
            <tr>
                <th class="col-playerid">PlayerID</th>
                <th class="col-firstname">First Name</th>
                <th class="col-lastname">Last Name</th>
                <th class="col-sofifa">SoFIFA Link</th>
                <th class="col-cost">Cost</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <h1>Transfer List</h1>
    <table id="transfer-list-table" class="table table-hover fixed-width-table">
        <thead>
            <tr>
                <th class="col-playerid">PlayerID</th>
                <th class="col-firstname">First Name</th>
                <th class="col-lastname">Last Name</th>
                <th class="col-sofifa">SoFIFA Link</th>
                <th class="col-cost">Cost</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<script>
    
    function getBudget(teamName){
        $.ajax({
            url: '/Home/GetTeamBudget',
            type: 'GET',
            dataType: 'json',
            data: {teamName : teamName},
            success: function (data) {
                $('#budget').text('£' + data.budget.toLocaleString());
            },
            error: function () {
                $('#budget').text('Error');
            }
        });
    }

    function getRoster(teamName){
        $.ajax({
            url: '/Home/GetRoster',
            type: 'GET',
            dataType: 'json',
            data: { teamName: teamName },
            success: function (data) {
                var $tbody = $('#roster-table tbody');
                $tbody.empty();

                if (data.hasOwnProperty('error')) {
                    var $tr = $('<tr>');
                    $tr.append($('<td colspan="3">').text(data.error));
                    $tbody.append($tr);
                }
                else {
                    data.forEach(function (roster) {
                        var $tr = $('<tr>');
                        $tr.append($('<td>').text(roster.playerID));
                        $tr.append($('<td>').text(roster.firstName));
                        $tr.append($('<td>').text(roster.lastName));
                        var $link = $('<a>').attr('href', roster.soFIFAURL).text(roster.soFIFAURL);
                        $tr.append($('<td>').html($link));
                        $tr.append($('<td>').text('£' + roster.cost.toLocaleString()));
                        $tbody.append($tr);
                    });
                }
            }
        });
    }
    
    //function getTransferList(){

    //}

    $(document).ready(function () {

        getBudget($('#team-selector').val());
        getRoster($('#team-selector').val());

        $('#team-selector').change(function () {
            var teamName = $(this).val();
            getBudget(teamName);
            getRoster(teamName);
        });
    });

</script>
